[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pep8 = "*"
autopep8 = "*"
flake8 = "*"
ipython = "*"
pytorch-lightning = "0.6.0"
mlflow = "*"
seaborn = "*"

[packages]
wget = "*"
pandas = "*"
scikit-learn = "*"
requests = "*"
pillow = "*"
imageio = "*"
matplotlib = "*"
scikit-image = "*"
statsmodels = "*"
tensorflow = "==1.15.2"
rarfile = "*"
future = "*"
numpy = "*"
pytransfer = {editable = true,path = "."}

[requires]
python_version = "3.6"
