[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
wget = "*"
pandas = "*"
scikit-learn = "*"
requests = "*"
pillow = "*"
imageio = "*"
matplotlib = "*"
sacred = "*"
scikit-image = "*"
statsmodels = "*"
tensorflow = "==1.15.2"
rarfile = "*"
future = "*"
ipython = "*"
numpy = "*"
pytorch-lightning = "*"

[requires]
python_version = "3.6"
